nav {
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  z-index: 99999;
}


.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  padding: 8px 0;
  position: relative;
}

.nav-links li a {
  display: inline-block;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: var(--dark-font);
}

.nav-links > li > a {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.nav-links li a:hover,
.nav-links li a.active {
  background-color: var(--dark-white);
}

.nav-links li a i {
  margin-left: 5px;
  font-size: 0.8rem;
}

.contact-container i {
  margin-right: 20px;
  font-size: 1.1rem;
  cursor: pointer;
  color: var(--dark-font);
}

.contact-container button {
  font-size: 1rem;
}

.contact-container button span {
  margin-right: 5px;
  font-size: 1.1rem;
}

nav .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--white);
  padding: 15px 10px;
  min-width: 200px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  transform: translateY(1rem);
  display: none;
  visibility: hidden;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -webkit-transform: translateY(1rem);
  -moz-transform: translateY(1rem);
  -ms-transform: translateY(1rem);
  -o-transform: translateY(1rem);
  -webkit-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

nav .nav-links li:hover .dropdown {
  transform: translateY(0);
  visibility: visible;
  display: block;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

nav .dropdown li {
  padding: 0;
}

nav .dropdown li a {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9em;
  color: #333d4c;
}

nav .dropdown li a:hover {
  color: var(--dark-font);
}

nav .dropdown li a i {
  font-size: 0.7em;
}

nav .dropdown li ul {
  position: absolute;
  left: 100%;
  top: -15px;
  background-color: var(--white);
  padding: 15px 10px;
  width: 180px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

nav .dropdown li:hover ul {
  visibility: visible;
}
